{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Ihre Evaluierung
{% endblock %}

{% block content %}
{% csrf_token %}

<style type="text/css">
      textarea {
          max-width:100%;
          min-width:100%;
      }
</style>


<div class="header well well-lg">
  <center><p>Ihre Angaben werden vertraulich behandelt.</p></center>
</div>

<div class="header well well-lg">

  Wie sind Sie bei Ihren Entscheidungen zur Auftragsfreigabe vorgegangen? (mind. 200 Zeichen)
  <ol>
  <li>Beschreiben Sie allgemein Ihr Vorgehen.
  <ol>
    <li>Welche Logik haben Sie für Ihre Freigabeentscheidungen angewandt?</li>
    <li>Haben Sie Ihre
      Logik im Laufe der Durchführungsphase geändert? Wenn ja/nein, weshalb?</li>
  </ol>
  </li>
  <li>Was war für Sie die zentrale Information um Aufträge freizugeben?</li>
  <li>Gab es Überraschungen bei der Aufgabe?</li>
  <li>Gab es Probleme oder Schwierigkeiten bei der Aufgabe?</li>
  </ol>

  {{ form.how_to }}

  <br /><br />
  Mit welchen Unsicherheiten waren Sie während der auszahlungsrelevanten
  Spielrunden konfrontiert? Welche Maßnahmen haben Sie gegen diese Unsicherheiten
  entwickelt?

  {{ form.uncertainty }}

</div>

<button class="btn btn-primary btn-large btn-primary" onclick="check()" type="button">Weiter</button>

<div style="visibility:hidden;">
   {% next_button %}
</div>

{% endblock %}

{% block scripts %}
<script>
  function check() {
    var txt = document.getElementById('id_how_to').value;
    var txt2 = document.getElementById('id_uncertainty').value;

    if (txt.length < 200) {
       alert('Bitte erkläre mit mind. 200 Zeichen dein Vorgehen.');
       return false;
    }  else if (txt2.length<20) {
       alert('Bitte erkläre mit mind. 20 Zeichen welche Unsicherheiten auftraten.');
       return false;
    }  else {
       var xs = document.getElementsByClassName("next-button");
       xs[0].click();
    }
  }

  function sort(a, b) {
      return (a.innerHTML > b.innerHTML) ? 1 : -1;
  }
  $('#id_country option').sort(sort).appendTo('#id_country');

  var bgcolor = {{ bgcolor|json }};
  document.body.style.background = bgcolor;

</script>

{% endblock %}
