{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load staticfiles %}


{% block title %}
Vielen Dank für Ihre Teilnahme
{% endblock %}

{% block content %}
{% csrf_token %}

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<div class="header well well-lg">
  <h3>Auszahlung</h3>
  <p>
    Bitte schreiben Sie den Auszahlungswert in Ihre Quittung.<br /><br />

    <table>
      <tr>
        <td class="lhs">Gesamtkosten</td>
        <td class="rhs">${{ sum_costs }} - {{ costs_lastweek }}$</td>
        <td class="lhs" style="text-align:right;">$ = {{ actual_costs}}$ &nbsp; &euro;</td>
      </tr>
      <tr>
        <td class="lhs">Ihr Verdienst</td>
        <td class="rhs">$4 + 10 \cdot \frac{({{benchmark}} + 20)}{({{sum_costs}} - {{ costs_lastweek }} + 20)}$</td>
        <td class="lhs" style="text-align:right;">$ = {{ payment}}$ &nbsp; &euro;</td>
      </tr>
      <tr>
        <td class="lhs">Ihre Auszahlung</td>
        <td class="rhs" style="color:red;text-align:right;" colspan="2">${{ payment }}$ &nbsp;  &euro;</td>
      </tr>
    </table>

  </p>
</div>


<div class="header well well-lg">
  <h3>Ende</h3>
  <!-- <p> -->
  <!--   Die Auszahlung erfolgt im Anschluss von einer dritten Person. Bitte nehmen Sie zur -->
  <!--   Auszahlung die Quittung und Ihr Nummernkärtchen mit. Bitte warten Sie am Sitzplatz -->
  <!--   bis Sie aufgerufen werden. -->
  <!-- </p> -->
  <p>
    Die Auszahlung erfolgt im Anschluss von einer dritten Person. Bitte nehmen Sie
    zur Auszahlung die Quittung mit. Bitte warten Sie am Sitzplatz bis Sie
    aufgerufen werden.<br/><br/>

    <b>Tragen Sie folgende Daten in Ihre Quittungen ein:</b>
    <ol>
      <li>Ihren Namen.</li>
      <li>Den oben in rot angegebenen Betrag.</li>
    </ol><br />

    Schreiben Sie den folgenden Identifikations-Code <b>nur in Ihre Quittungskopie</b>: <b><span style="color:red;">{{ code }}</div></b>
    <br />

    Beachten Sie, dass wir die Auszahlung nur vornehmen können, wenn alle Daten
    richtig ausgefüllt sind! Bitte warten Sie am Sitzplatz bis Sie aufgerufen
    werden.

  </p>
</div>


{% endblock %}

{% block form %}

{% endblock %}

{% block scripts %}

{% endblock %}
{% block styles %}

<style type="text/css">
      .infocosts {
          text-align:left;
          width: 100%;

      }

      h3 {
          text-align:center;
      }

      h4 {
          text-align:left;
          text-decoration: bold;
      }
.td {
    font-family:Arial,Verdana,sans-serif;
      font-size:1em;
}

.lhs {
    font-family:Arial,Verdana,sans-serif;
    font-size:1em;
    width: 25%;
    height: 40px;
    text-align:left;
}

.rhs {
    font-family:Arial,Verdana,sans-serif;
    font-size:1em;
    text-align:right;
    width: 25%;
}
p

</style>

{% endblock %}

