{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load app_filters %}
{% load static %}

{% block title %}
    Freigabe von Aufträgen für den {{ current_day | get_date }}
{% endblock %}

{% block content %}

<img src="{% static "global/timout.png" %}" /> <br /><br />

<img src="{% static "global/info1.png" %}" /> <br /><br />

{% include "global/Header.html" %}

<img src="{% static "global/info2.png" %}" /> <br /><br />

<img src="{% static "global/release.png" %}" /> <br />

    {% next_button %}

{% endblock %}

{% block scripts %}

<script>
  hidecosts();
</script>
{% endblock %}
