{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load app_filters %}
{% load staticfiles %}

{% block title %}
{{ phase }}: Freigabe von Aufträgen für den {{ current_day | get_date }}
{% endblock %}


{% block content %}
{% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'global/info.css' %}" />

<style type="text/css">
      table, th, td  {
          text-align:center;
      }
      .rush {
        font-family:Arial,Verdana,sans-serif;
        font-size:1em;
        color:red;
      }
      .last_week{
        background-color: rgba(220,199,218,0.3);
      }
</style>

{% include "global/Header.html" %}

{{ form.orders.errors }}

<div class="header well well-lg">

  <center><h3>Auftragsbuch</h3></center>

  <table class="tableRelease" style="width:100%">
    <thead>
      <tr>
        <th>Auftragsnr</th>
        <th>Menge</th>
        <!-- <th>order_id             </th> -->
        <!-- <th>participant_id       </th> -->
        <th>Auftragseingang</th>
        <th>Zugesagter Liefertermin</th>
        <!-- <th>full_processing_time </th> -->
        <!-- <th>time_until_finished  </th> -->
        <!-- <th>release_date         </th> -->
        <th>Auftrag Freigeben</th>
      </tr>
    </thead>

    {% for order in last_week_orders %}
    <tr {% if order|is_rushorder %}
        class="rush"
        {% endif %}
        >
      <td>{{ order.nr }}</td>
      <td>1</td>
      <!-- <td>{{ order.order_id }}</td> -->
      <!-- <td> {{ order.participant_id }}       </td> -->
      <td> {{ order.arrival | get_date_str:current_day }} ({{order.arrival | get_date }}) </td>
      <td> {{ order.due | get_date_str:current_day }} ({{order.due | get_date}}) </td>
      <!-- <td> {{ order.full_processing_time }} </td> -->
      <!-- <td> {{ order.time_until_finished }}  </td> -->
      <!-- <td> {{ order.release_date }}         </td> -->
      <td>
        <input type="checkbox" id="order_{{order.order_id}}" name="order_{{order.order_id}}" value="True" disabled checked>
      </td>
    </tr>
    {% endfor %}

    {% for order in releasable_orders %}
    <tr {% if order|is_rushorder %}
        class="rush"
        {% endif %}
        >
      <td>{{ order.nr }}</td>
      <td>1</td>
      <!-- <td>{{ order.order_id }}</td> -->
      <!-- <td> {{ order.participant_id }}       </td> -->
      <td> {{ order.arrival | get_date_str:current_day }} ({{order.arrival | get_date }}) </td>
      <td> {{ order.due | get_date_str:current_day }} ({{order.due | get_date}}) </td>
      <!-- <td> {{ order.full_processing_time }} </td> -->
      <!-- <td> {{ order.time_until_finished }}  </td> -->
      <!-- <td> {{ order.release_date }}         </td> -->
      <td>
        <input type="checkbox" id="order_{{order.order_id}}" name="order_{{order.order_id}}" value="True"
               {% if is_last_week_release_round %}
                 disabled
               {% endif %}
               >
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<button class="btn btn-primary btn-large btn-primary" onclick="check()" type="button">Weiter</button>
<div style="visibility:hidden">
  {% next_button %}
</div>
{% endblock %}

{% block scripts %}
<script>
  function check() {
    var last_week = {{ is_last_week_release_round|json }};
    var any = false;
    var ordIds = {{ releasable_orders_ids|json }};
    var lastWeekOrdIds = {{ last_week_order_ids|json }};

    if (last_week) {
      lastWeekOrdIds.forEach(function(ordId) {
        document.getElementById("order_"+ordId).disabled = false;
      });
    }

    ordIds.forEach(function(ordId) {
      console.log(ordId);
      var d = document.getElementById("order_"+ordId).checked;
      console.log(d);
      if (d) {
         any = true;
      }
    });

    if (false && !any && !last_week){
      var r = confirm("Keine Aufträge ausgewählt! Trotzdem weiter?");
      if (r == true) {
        var xs = document.getElementsByClassName("next-button");
        xs[0].click();
      }
    } else {
      var xs = document.getElementsByClassName("next-button");
      xs[0].click();
    }

    lastWeekOrdIds.forEach(function(ordId) {
          document.getElementById("order_"+ordId).disabled = true;
    });
  }

  $('html').bind('keypress', function(e)
  {
     if(e.keyCode == 13)
  {
        check();
        return false;
  }
  });

  var bgcolor = {{ bgcolor|json }};
  document.body.style.background = bgcolor;

  hidecosts();

  var max_secs_page_left = 300;
  var alert_at60 = 60;
  var alert_at20 = 20;
  var alerted60 = 0;
  var alerted20 = 0;

  // Update the count down every 1 second
  var x = setInterval(function() {

      // If the count down is finished, click next
      if (max_secs_page_left < alert_at60 && alerted60 == 0) {
        alert("Du hast noch 1 Minute um die Freigabeentscheidung zu treffen, ansonsten schaltet das System automatisch weiter.");
        alerted60 = 1;
      } else if (max_secs_page_left < alert_at20 && alerted20 == 0) {
        alert("Du hast noch 20 Sekunden um die Freigabeentscheidung zu treffen, ansonsten schaltet das System automatisch weiter.");
        alerted20 = 1;
      } else {
          max_secs_page_left-=1;
          if (max_secs_page_left < 1) {
             var xs = document.getElementsByClassName("next-button");
             xs[0].click();
          }
      }
  }, 1000);


</script>
{% endblock %}
